Question 1: -
Write a program that takes a string as input, and counts the frequency of each word in the string, there might
be repeated characters in the string. Your task is to find the highest frequency and returns the length of the
highest-frequency word.

In [14]:
s=str(input("Enter a sentence:"))
a=s.split()
dict = {}
for word in a:
    dict[word] = dict.get(word, 0) + 1
max_val = max(dict.values())
max_words = [word for word, frequency in dict.items() if frequency == max_val]
max_words_len = [len(word) for word in max_words]
max_words_len[0]

Enter a sentence:“write write write all the number from from from 1 to 100 write write write

5

Question 2: -
Consider a string to be valid if all characters of the string appear the same number of times. It is also valid if
he can remove just one character at the index in the string, and the remaining characters will occur the same
number of times. Given a string, determine if it is valid. If so, return YES , otherwise return NO

In [23]:
s = input("Enter a string: ")
counts = {}
for char in s:
    counts[char] =counts.get(char, 0) + 1

counts = list(char_counts.values())

if len(set(counts)) == 1:
    print("YES")
elif len(set(counts)) == 2 and (counts.count(counts[0]) == 1 or counts.count(counts[1]) == 1) and abs(counts[0] - counts[1]) == 1:
    print("YES")
else:
    print("NO")

Enter a string: abcc
NO

Question 3: -
Write a program, which would download the data from the provided link, and then read the data and convert
that into properly structured data and return it in Excel format.

In [53]:
import pandas as pd
import requests

# Download the data from the provided link
url = "https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json"
response = requests.get(url)
data = response.json()

# Extract relevant information from the JSON data
pokemon_list = data["pokemon"]
pokemon_data = []
all_columns = set()

for pokemon in pokemon_list:
    pokemon_info = []
    for key, value in pokemon.items():
        if isinstance(value, (str, int, float)):
            pokemon_info.append((key,value, type(value)))
            all_columns.add(key)
    pokemon_data.append(pokemon_info)
pokemon_data[0]

[('id', 1, int),
 ('num', '001', str),
 ('name', 'Bulbasaur', str),
 ('img', 'http://www.serebii.net/pokemongo/pokemon/001.png', str),
 ('height', '0.71 m', str),
 ('weight', '6.9 kg', str),
 ('candy', 'Bulbasaur Candy', str),
 ('candy_count', 25, int),
 ('egg', '2 km', str),
 ('spawn_chance', 0.69, float),
 ('avg_spawns', 69, int),
 ('spawn_time', '20:00', str)]

Question 4 -
Write a program to download the data from the link given below and then read the data and convert the into
the proper structure and return it as a CSV file.
Link - https://data.nasa.gov/resource/y77d-th95.json

In [54]:
import pandas as pd
import requests
url = "https://data.nasa.gov/resource/y77d-th95.json" 
response = requests.get(url)
data = response.json()
pokemon_data = []
all_columns = set()

for pokemon in data:
    pokemon_info = []
    for key, value in pokemon.items():
        if isinstance(value, (str, int, float)):
            pokemon_info.append((key,value, type(value).__name__))
            all_columns.add(key)
    pokemon_data.append(pokemon_info)
pokemon_data[0]

[('name', 'Aachen', 'str'),
 ('id', '1', 'str'),
 ('nametype', 'Valid', 'str'),
 ('recclass', 'L5', 'str'),
 ('mass', '21', 'str'),
 ('fall', 'Fell', 'str'),
 ('year', '1880-01-01T00:00:00.000', 'str'),
 ('reclat', '50.775000', 'str'),
 ('reclong', '6.083330', 'str')]

In [ ]:
Question 5 -
Write a program to download the data from the given API link and then extract the following data with
proper formatting

In [65]:
import requests
import pandas as pd
from pandas.io.json import json_normalize

# Download data from the API
url = "http://api.tvmaze.com/singlesearch/shows?q=westworld&embed=episodes"
response = requests.get(url)
data = response.json()

## Flatten the JSON data and create a DataFrame
df = json_normalize(data)

# Display the extracted data
print(df.columns,df.dtypes)

Index(['id', 'url', 'name', 'type', 'language', 'genres', 'status', 'runtime',
       'averageRuntime', 'premiered', 'ended', 'officialSite', 'weight',
       'webChannel', 'dvdCountry', 'summary', 'updated', 'schedule.time',
       'schedule.days', 'rating.average', 'network.id', 'network.name',
       'network.country.name', 'network.country.code',
       'network.country.timezone', 'network.officialSite', 'externals.tvrage',
       'externals.thetvdb', 'externals.imdb', 'image.medium', 'image.original',
       '_links.self.href', '_links.previousepisode.href',
       '_embedded.episodes'],
      dtype='object') id                               int64
url                             object
name                            object
type                            object
language                        object
genres                          object
status                          object
runtime                          int64
averageRuntime                   int64
premiered                       object
ended                           object
officialSite                    object
weight                           int64
webChannel                      object
dvdCountry                      object
summary                         object
updated                          int64
schedule.time                   object
schedule.days                   object
rating.average                 float64
network.id                       int64
network.name                    object
network.country.name            object
network.country.code            object
network.country.timezone        object
network.officialSite            object
externals.tvrage                 int64
externals.thetvdb                int64
externals.imdb                  object
image.medium                    object
image.original                  object
_links.self.href                object
_links.previousepisode.href     object
_embedded.episodes              object
dtype: object

C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\3068412254.py:11: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  df = json_normalize(data)

In [ ]:
Question 6 -

Using the data from Question 3, write code to analyze the data and answer the following questions Note 1.
Draw plots to demonstrate the analysis for the following questions for better visualizations.
2. Write code comments wherever required for code understanding

In [87]:
import pandas as pd
import requests

# Download the data from the provided link
url = "https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json"
response = requests.get(url)
data = response.json()

# Extract all columns from the JSON data
all_columns = set()
for pokemon in data["pokemon"]:
    all_columns.update(pokemon.keys())

# Create an empty DataFrame with the extracted columns
df = pd.DataFrame(columns=all_columns)

# Iterate over the JSON data and populate the DataFrame
for pokemon in data["pokemon"]:
    df = df.append(pokemon, ignore_index=True)

# Save the DataFrame as a CSV file
output_file = "pokemon_data.csv"
df.to_csv(output_file, index=False)

C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\1845465954.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pokemon, ignore_index=True)

In [86]:
df

,egg,avg_spawns,next_evolution,num,height,spawn_chance,spawn_time,type,multipliers,candy_count,id,prev_evolution,img,name,weight,weaknesses,candy
0,2 km,69,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",001,0.71 m,0.69,20:00,"[Grass, Poison]",[1.58],25,1,NaN,http://www.serebii.net/pokemongo/pokemon/001.png,Bulbasaur,6.9 kg,"[Fire, Ice, Flying, Psychic]",Bulbasaur Candy
1,Not in Eggs,4.2,"[{'num': '003', 'name': 'Venusaur'}]",002,0.99 m,0.042,07:00,"[Grass, Poison]","[1.2, 1.6]",100,2,"[{'num': '001', 'name': 'Bulbasaur'}]",http://www.serebii.net/pokemongo/pokemon/002.png,Ivysaur,13.0 kg,"[Fire, Ice, Flying, Psychic]",Bulbasaur Candy
2,Not in Eggs,1.7,NaN,003,2.01 m,0.017,11:30,"[Grass, Poison]",None,NaN,3,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ...",http://www.serebii.net/pokemongo/pokemon/003.png,Venusaur,100.0 kg,"[Fire, Ice, Flying, Psychic]",Bulbasaur Candy
3,2 km,25.3,"[{'num': '005', 'name': 'Charmeleon'}, {'num':...",004,0.61 m,0.253,08:45,[Fire],[1.65],25,4,NaN,http://www.serebii.net/pokemongo/pokemon/004.png,Charmander,8.5 kg,"[Water, Ground, Rock]",Charmander Candy
4,Not in Eggs,1.2,"[{'num': '006', 'name': 'Charizard'}]",005,1.09 m,0.012,19:00,[Fire],[1.79],100,5,"[{'num': '004', 'name': 'Charmander'}]",http://www.serebii.net/pokemongo/pokemon/005.png,Charmeleon,19.0 kg,"[Water, Ground, Rock]",Charmander Candy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,10 km,30,"[{'num': '148', 'name': 'Dragonair'}, {'num': ...",147,1.80 m,0.3,06:41,[Dragon],"[1.83, 1.84]",25,147,NaN,http://www.serebii.net/pokemongo/pokemon/147.png,Dratini,3.3 kg,"[Ice, Dragon, Fairy]",Dratini Candy
147,Not in Eggs,2,"[{'num': '149', 'name': 'Dragonite'}]",148,3.99 m,0.02,11:57,[Dragon],[2.05],100,148,"[{'num': '147', 'name': 'Dratini'}]",http://www.serebii.net/pokemongo/pokemon/148.png,Dragonair,16.5 kg,"[Ice, Dragon, Fairy]",Dratini Candy
148,Not in Eggs,0.11,NaN,149,2.21 m,0.0011,23:38,"[Dragon, Flying]",None,NaN,149,"[{'num': '147', 'name': 'Dratini'}, {'num': '1...",http://www.serebii.net/pokemongo/pokemon/149.png,Dragonite,210.0 kg,"[Ice, Rock, Dragon, Fairy]",Dratini Candy
149,Not in Eggs,0,NaN,150,2.01 m,0,N/A,[Psychic],None,NaN,150,NaN,http://www.serebii.net/pokemongo/pokemon/150.png,Mewtwo,122.0 kg,"[Bug, Ghost, Dark]",None
150,Not in Eggs,0,NaN,151,0.41 m,0,N/A,[Psychic],None,NaN,151,NaN,http://www.serebii.net/pokemongo/pokemon/151.png,Mew,4.0 kg,"[Bug, Ghost, Dark]",None

● Get all Pokemons whose spawn rate is less than 5%
● Get all Pokemons that have less than 4 weaknesses
● Get all Pokemons that have no multipliers at all
● Get all Pokemons that do not have more than 2 evolutions
● Get all Pokemons whose spawn time is less than 300 seconds.

In [88]:
#Q.1
df[df['spawn_chance']<5.0]

,egg,avg_spawns,next_evolution,num,height,spawn_chance,spawn_time,type,multipliers,candy_count,id,prev_evolution,img,name,weight,weaknesses,candy
0,2 km,69,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",001,0.71 m,0.69,20:00,"[Grass, Poison]",[1.58],25,1,NaN,http://www.serebii.net/pokemongo/pokemon/001.png,Bulbasaur,6.9 kg,"[Fire, Ice, Flying, Psychic]",Bulbasaur Candy
1,Not in Eggs,4.2,"[{'num': '003', 'name': 'Venusaur'}]",002,0.99 m,0.042,07:00,"[Grass, Poison]","[1.2, 1.6]",100,2,"[{'num': '001', 'name': 'Bulbasaur'}]",http://www.serebii.net/pokemongo/pokemon/002.png,Ivysaur,13.0 kg,"[Fire, Ice, Flying, Psychic]",Bulbasaur Candy
2,Not in Eggs,1.7,NaN,003,2.01 m,0.017,11:30,"[Grass, Poison]",None,NaN,3,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ...",http://www.serebii.net/pokemongo/pokemon/003.png,Venusaur,100.0 kg,"[Fire, Ice, Flying, Psychic]",Bulbasaur Candy
3,2 km,25.3,"[{'num': '005', 'name': 'Charmeleon'}, {'num':...",004,0.61 m,0.253,08:45,[Fire],[1.65],25,4,NaN,http://www.serebii.net/pokemongo/pokemon/004.png,Charmander,8.5 kg,"[Water, Ground, Rock]",Charmander Candy
4,Not in Eggs,1.2,"[{'num': '006', 'name': 'Charizard'}]",005,1.09 m,0.012,19:00,[Fire],[1.79],100,5,"[{'num': '004', 'name': 'Charmander'}]",http://www.serebii.net/pokemongo/pokemon/005.png,Charmeleon,19.0 kg,"[Water, Ground, Rock]",Charmander Candy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,10 km,30,"[{'num': '148', 'name': 'Dragonair'}, {'num': ...",147,1.80 m,0.3,06:41,[Dragon],"[1.83, 1.84]",25,147,NaN,http://www.serebii.net/pokemongo/pokemon/147.png,Dratini,3.3 kg,"[Ice, Dragon, Fairy]",Dratini Candy
147,Not in Eggs,2,"[{'num': '149', 'name': 'Dragonite'}]",148,3.99 m,0.02,11:57,[Dragon],[2.05],100,148,"[{'num': '147', 'name': 'Dratini'}]",http://www.serebii.net/pokemongo/pokemon/148.png,Dragonair,16.5 kg,"[Ice, Dragon, Fairy]",Dratini Candy
148,Not in Eggs,0.11,NaN,149,2.21 m,0.0011,23:38,"[Dragon, Flying]",None,NaN,149,"[{'num': '147', 'name': 'Dratini'}, {'num': '1...",http://www.serebii.net/pokemongo/pokemon/149.png,Dragonite,210.0 kg,"[Ice, Rock, Dragon, Fairy]",Dratini Candy
149,Not in Eggs,0,NaN,150,2.01 m,0,N/A,[Psychic],None,NaN,150,NaN,http://www.serebii.net/pokemongo/pokemon/150.png,Mewtwo,122.0 kg,"[Bug, Ghost, Dark]",None
150,Not in Eggs,0,NaN,151,0.41 m,0,N/A,[Psychic],None,NaN,151,NaN,http://www.serebii.net/pokemongo/pokemon/151.png,Mew,4.0 kg,"[Bug, Ghost, Dark]",None

In [96]:
#Q.2
df[df['weaknesses'].apply(len) < 4]

,egg,avg_spawns,next_evolution,num,height,spawn_chance,spawn_time,type,multipliers,candy_count,id,prev_evolution,img,name,weight,weaknesses,candy
3,2 km,25.3,"[{'num': '005', 'name': 'Charmeleon'}, {'num':...",004,0.61 m,0.253,08:45,[Fire],[1.65],25,4,NaN,http://www.serebii.net/pokemongo/pokemon/004.png,Charmander,8.5 kg,"[Water, Ground, Rock]",Charmander Candy
4,Not in Eggs,1.2,"[{'num': '006', 'name': 'Charizard'}]",005,1.09 m,0.012,19:00,[Fire],[1.79],100,5,"[{'num': '004', 'name': 'Charmander'}]",http://www.serebii.net/pokemongo/pokemon/005.png,Charmeleon,19.0 kg,"[Water, Ground, Rock]",Charmander Candy
5,Not in Eggs,0.31,NaN,006,1.70 m,0.0031,13:34,"[Fire, Flying]",None,NaN,6,"[{'num': '004', 'name': 'Charmander'}, {'num':...",http://www.serebii.net/pokemongo/pokemon/006.png,Charizard,90.5 kg,"[Water, Electric, Rock]",Charmander Candy
6,2 km,58,"[{'num': '008', 'name': 'Wartortle'}, {'num': ...",007,0.51 m,0.58,04:25,[Water],[2.1],25,7,NaN,http://www.serebii.net/pokemongo/pokemon/007.png,Squirtle,9.0 kg,"[Electric, Grass]",Squirtle Candy
7,Not in Eggs,3.4,"[{'num': '009', 'name': 'Blastoise'}]",008,0.99 m,0.034,07:02,[Water],[1.4],100,8,"[{'num': '007', 'name': 'Squirtle'}]",http://www.serebii.net/pokemongo/pokemon/008.png,Wartortle,22.5 kg,"[Electric, Grass]",Squirtle Candy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Not in Eggs,0,NaN,146,2.01 m,0,N/A,"[Fire, Flying]",None,NaN,146,NaN,http://www.serebii.net/pokemongo/pokemon/146.png,Moltres,60.0 kg,"[Water, Electric, Rock]",None
146,10 km,30,"[{'num': '148', 'name': 'Dragonair'}, {'num': ...",147,1.80 m,0.3,06:41,[Dragon],"[1.83, 1.84]",25,147,NaN,http://www.serebii.net/pokemongo/pokemon/147.png,Dratini,3.3 kg,"[Ice, Dragon, Fairy]",Dratini Candy
147,Not in Eggs,2,"[{'num': '149', 'name': 'Dragonite'}]",148,3.99 m,0.02,11:57,[Dragon],[2.05],100,148,"[{'num': '147', 'name': 'Dratini'}]",http://www.serebii.net/pokemongo/pokemon/148.png,Dragonair,16.5 kg,"[Ice, Dragon, Fairy]",Dratini Candy
149,Not in Eggs,0,NaN,150,2.01 m,0,N/A,[Psychic],None,NaN,150,NaN,http://www.serebii.net/pokemongo/pokemon/150.png,Mewtwo,122.0 kg,"[Bug, Ghost, Dark]",None
150,Not in Eggs,0,NaN,151,0.41 m,0,N/A,[Psychic],None,NaN,151,NaN,http://www.serebii.net/pokemongo/pokemon/151.png,Mew,4.0 kg,"[Bug, Ghost, Dark]",None

In [97]:
#Q.3
df[df['multipliers'].isna()]

,egg,avg_spawns,next_evolution,num,height,spawn_chance,spawn_time,type,multipliers,candy_count,id,prev_evolution,img,name,weight,weaknesses,candy
2,Not in Eggs,1.7,NaN,003,2.01 m,0.017,11:30,"[Grass, Poison]",None,NaN,3,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ...",http://www.serebii.net/pokemongo/pokemon/003.png,Venusaur,100.0 kg,"[Fire, Ice, Flying, Psychic]",Bulbasaur Candy
5,Not in Eggs,0.31,NaN,006,1.70 m,0.0031,13:34,"[Fire, Flying]",None,NaN,6,"[{'num': '004', 'name': 'Charmander'}, {'num':...",http://www.serebii.net/pokemongo/pokemon/006.png,Charizard,90.5 kg,"[Water, Electric, Rock]",Charmander Candy
8,Not in Eggs,0.67,NaN,009,1.60 m,0.0067,00:06,[Water],None,NaN,9,"[{'num': '007', 'name': 'Squirtle'}, {'num': '...",http://www.serebii.net/pokemongo/pokemon/009.png,Blastoise,85.5 kg,"[Electric, Grass]",Squirtle Candy
11,Not in Eggs,2.2,NaN,012,1.09 m,0.022,05:23,"[Bug, Flying]",None,NaN,12,"[{'num': '010', 'name': 'Caterpie'}, {'num': '...",http://www.serebii.net/pokemongo/pokemon/012.png,Butterfree,32.0 kg,"[Fire, Electric, Ice, Flying, Rock]",Caterpie Candy
14,Not in Eggs,5.1,NaN,015,0.99 m,0.051,04:50,"[Bug, Poison]",None,NaN,15,"[{'num': '013', 'name': 'Weedle'}, {'num': '01...",http://www.serebii.net/pokemongo/pokemon/015.png,Beedrill,29.5 kg,"[Fire, Flying, Psychic, Rock]",Weedle Candy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Not in Eggs,0,NaN,145,1.60 m,0,N/A,"[Electric, Flying]",None,NaN,145,NaN,http://www.serebii.net/pokemongo/pokemon/145.png,Zapdos,52.6 kg,"[Ice, Rock]",None
145,Not in Eggs,0,NaN,146,2.01 m,0,N/A,"[Fire, Flying]",None,NaN,146,NaN,http://www.serebii.net/pokemongo/pokemon/146.png,Moltres,60.0 kg,"[Water, Electric, Rock]",None
148,Not in Eggs,0.11,NaN,149,2.21 m,0.0011,23:38,"[Dragon, Flying]",None,NaN,149,"[{'num': '147', 'name': 'Dratini'}, {'num': '1...",http://www.serebii.net/pokemongo/pokemon/149.png,Dragonite,210.0 kg,"[Ice, Rock, Dragon, Fairy]",Dratini Candy
149,Not in Eggs,0,NaN,150,2.01 m,0,N/A,[Psychic],None,NaN,150,NaN,http://www.serebii.net/pokemongo/pokemon/150.png,Mewtwo,122.0 kg,"[Bug, Ghost, Dark]",None
150,Not in Eggs,0,NaN,151,0.41 m,0,N/A,[Psychic],None,NaN,151,NaN,http://www.serebii.net/pokemongo/pokemon/151.png,Mew,4.0 kg,"[Bug, Ghost, Dark]",None

In [100]:
#Q.4
df[df['prev_evolution'].apply(lambda x: len(x) <= 2 if isinstance(x, list) else True)]

,egg,avg_spawns,next_evolution,num,height,spawn_chance,spawn_time,type,multipliers,candy_count,id,prev_evolution,img,name,weight,weaknesses,candy
0,2 km,69,"[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",001,0.71 m,0.69,20:00,"[Grass, Poison]",[1.58],25,1,NaN,http://www.serebii.net/pokemongo/pokemon/001.png,Bulbasaur,6.9 kg,"[Fire, Ice, Flying, Psychic]",Bulbasaur Candy
1,Not in Eggs,4.2,"[{'num': '003', 'name': 'Venusaur'}]",002,0.99 m,0.042,07:00,"[Grass, Poison]","[1.2, 1.6]",100,2,"[{'num': '001', 'name': 'Bulbasaur'}]",http://www.serebii.net/pokemongo/pokemon/002.png,Ivysaur,13.0 kg,"[Fire, Ice, Flying, Psychic]",Bulbasaur Candy
2,Not in Eggs,1.7,NaN,003,2.01 m,0.017,11:30,"[Grass, Poison]",None,NaN,3,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ...",http://www.serebii.net/pokemongo/pokemon/003.png,Venusaur,100.0 kg,"[Fire, Ice, Flying, Psychic]",Bulbasaur Candy
3,2 km,25.3,"[{'num': '005', 'name': 'Charmeleon'}, {'num':...",004,0.61 m,0.253,08:45,[Fire],[1.65],25,4,NaN,http://www.serebii.net/pokemongo/pokemon/004.png,Charmander,8.5 kg,"[Water, Ground, Rock]",Charmander Candy
4,Not in Eggs,1.2,"[{'num': '006', 'name': 'Charizard'}]",005,1.09 m,0.012,19:00,[Fire],[1.79],100,5,"[{'num': '004', 'name': 'Charmander'}]",http://www.serebii.net/pokemongo/pokemon/005.png,Charmeleon,19.0 kg,"[Water, Ground, Rock]",Charmander Candy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,10 km,30,"[{'num': '148', 'name': 'Dragonair'}, {'num': ...",147,1.80 m,0.3,06:41,[Dragon],"[1.83, 1.84]",25,147,NaN,http://www.serebii.net/pokemongo/pokemon/147.png,Dratini,3.3 kg,"[Ice, Dragon, Fairy]",Dratini Candy
147,Not in Eggs,2,"[{'num': '149', 'name': 'Dragonite'}]",148,3.99 m,0.02,11:57,[Dragon],[2.05],100,148,"[{'num': '147', 'name': 'Dratini'}]",http://www.serebii.net/pokemongo/pokemon/148.png,Dragonair,16.5 kg,"[Ice, Dragon, Fairy]",Dratini Candy
148,Not in Eggs,0.11,NaN,149,2.21 m,0.0011,23:38,"[Dragon, Flying]",None,NaN,149,"[{'num': '147', 'name': 'Dratini'}, {'num': '1...",http://www.serebii.net/pokemongo/pokemon/149.png,Dragonite,210.0 kg,"[Ice, Rock, Dragon, Fairy]",Dratini Candy
149,Not in Eggs,0,NaN,150,2.01 m,0,N/A,[Psychic],None,NaN,150,NaN,http://www.serebii.net/pokemongo/pokemon/150.png,Mewtwo,122.0 kg,"[Bug, Ghost, Dark]",None
150,Not in Eggs,0,NaN,151,0.41 m,0,N/A,[Psychic],None,NaN,151,NaN,http://www.serebii.net/pokemongo/pokemon/151.png,Mew,4.0 kg,"[Bug, Ghost, Dark]",None

In [89]:
#Q.5
df[df['spawn_time']< '00:30']

,egg,avg_spawns,next_evolution,num,height,spawn_chance,spawn_time,type,multipliers,candy_count,id,prev_evolution,img,name,weight,weaknesses,candy
8,Not in Eggs,0.67,NaN,009,1.60 m,0.0067,00:06,[Water],None,NaN,9,"[{'num': '007', 'name': 'Squirtle'}, {'num': '...",http://www.serebii.net/pokemongo/pokemon/009.png,Blastoise,85.5 kg,"[Electric, Grass]",Squirtle Candy
92,Not in Eggs,5.2,"[{'num': '094', 'name': 'Gengar'}]",093,1.60 m,0.052,00:10,"[Ghost, Poison]","[1.56, 1.8]",100,93,"[{'num': '092', 'name': 'Gastly'}]",http://www.serebii.net/pokemongo/pokemon/093.png,Haunter,0.1 kg,"[Ground, Psychic, Ghost, Dark]",Gastly Candy
139,10 km,10,"[{'num': '141', 'name': 'Kabutops'}]",140,0.51 m,0.1,00:05,"[Rock, Water]","[1.97, 2.37]",50,140,NaN,http://www.serebii.net/pokemongo/pokemon/140.png,Kabuto,11.5 kg,"[Electric, Grass, Fighting, Ground]",Kabuto Candy

Question 7 -
Using the data from Question 4, write code to analyze the data and answer the following questions Note -
1. Draw plots to demonstrate the analysis for the following questions for better visualizations
2. Write code comments wherever required for code understanding

In [102]:
import pandas as pd
import requests
url = "https://data.nasa.gov/resource/y77d-th95.json" 
response = requests.get(url)
data = response.json()
df=pd.DataFrame(data)
df

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,"{'type': 'Point', 'coordinates': [6.08333, 50....",NaN,NaN
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,"{'type': 'Point', 'coordinates': [10.23333, 56...",NaN,NaN
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,"{'type': 'Point', 'coordinates': [-113, 54.216...",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",NaN,NaN
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,"{'type': 'Point', 'coordinates': [-64.95, -33....",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Tirupati,24009,Valid,H6,230,Fell,1934-01-01T00:00:00.000,13.633330,79.416670,"{'type': 'Point', 'coordinates': [79.41667, 13...",NaN,NaN
996,Tissint,54823,Valid,Martian (shergottite),7000,Fell,2011-01-01T00:00:00.000,29.481950,-7.611230,"{'type': 'Point', 'coordinates': [-7.61123, 29...",NaN,NaN
997,Tjabe,24011,Valid,H6,20000,Fell,1869-01-01T00:00:00.000,-7.083330,111.533330,"{'type': 'Point', 'coordinates': [111.53333, -...",NaN,NaN
998,Tjerebon,24012,Valid,L5,16500,Fell,1922-01-01T00:00:00.000,-6.666670,106.583330,"{'type': 'Point', 'coordinates': [106.58333, -...",NaN,NaN
999,Tomakovka,24019,Valid,LL6,600,Fell,1905-01-01T00:00:00.000,47.850000,34.766670,"{'type': 'Point', 'coordinates': [34.76667, 47...",NaN,NaN

Insights to be drawn -
● Get all the Earth meteorites that fell before the year 2000
● Get all the earth meteorites co-ordinates who fell before the year 1970
● Assuming that the mass of the earth meteorites was in kg, get all those whose mass was more
than 10000kg

In [125]:
#Q.1
df['year_extracted']=df['year'].str[:4]

df[(df['fall'] == 'Fell') & (df['year_extracted']<'2000')]

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,year_extracted
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,"{'type': 'Point', 'coordinates': [6.08333, 50....",NaN,NaN,1880
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,"{'type': 'Point', 'coordinates': [10.23333, 56...",NaN,NaN,1951
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,"{'type': 'Point', 'coordinates': [-113, 54.216...",NaN,NaN,1952
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",NaN,NaN,1976
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,"{'type': 'Point', 'coordinates': [-64.95, -33....",NaN,NaN,1902
...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,Timochin,24004,Valid,H5,65500,Fell,1807-01-01T00:00:00.000,54.500000,35.200000,"{'type': 'Point', 'coordinates': [35.2, 54.5]}",NaN,NaN,1807
995,Tirupati,24009,Valid,H6,230,Fell,1934-01-01T00:00:00.000,13.633330,79.416670,"{'type': 'Point', 'coordinates': [79.41667, 13...",NaN,NaN,1934
997,Tjabe,24011,Valid,H6,20000,Fell,1869-01-01T00:00:00.000,-7.083330,111.533330,"{'type': 'Point', 'coordinates': [111.53333, -...",NaN,NaN,1869
998,Tjerebon,24012,Valid,L5,16500,Fell,1922-01-01T00:00:00.000,-6.666670,106.583330,"{'type': 'Point', 'coordinates': [106.58333, -...",NaN,NaN,1922
999,Tomakovka,24019,Valid,LL6,600,Fell,1905-01-01T00:00:00.000,47.850000,34.766670,"{'type': 'Point', 'coordinates': [34.76667, 47...",NaN,NaN,1905

In [126]:
#Q.2
df['year_extracted']=df['year'].str[:4]

df[(df['fall'] == 'Fell') & (df['year_extracted']<'1970')]

C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\2194802311.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year_extracted']=df['year'].str[:4]

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,year_extracted
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,"{'type': 'Point', 'coordinates': [6.08333, 50....",NaN,NaN,1880
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,"{'type': 'Point', 'coordinates': [10.23333, 56...",NaN,NaN,1951
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,"{'type': 'Point', 'coordinates': [-113, 54.216...",NaN,NaN,1952
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,"{'type': 'Point', 'coordinates': [-64.95, -33....",NaN,NaN,1902
5,Adhi Kot,379,Valid,EH4,4239,Fell,1919-01-01T00:00:00.000,32.100000,71.800000,"{'type': 'Point', 'coordinates': [71.8, 32.1]}",NaN,NaN,1919
...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,Timochin,24004,Valid,H5,65500,Fell,1807-01-01T00:00:00.000,54.500000,35.200000,"{'type': 'Point', 'coordinates': [35.2, 54.5]}",NaN,NaN,1807
995,Tirupati,24009,Valid,H6,230,Fell,1934-01-01T00:00:00.000,13.633330,79.416670,"{'type': 'Point', 'coordinates': [79.41667, 13...",NaN,NaN,1934
997,Tjabe,24011,Valid,H6,20000,Fell,1869-01-01T00:00:00.000,-7.083330,111.533330,"{'type': 'Point', 'coordinates': [111.53333, -...",NaN,NaN,1869
998,Tjerebon,24012,Valid,L5,16500,Fell,1922-01-01T00:00:00.000,-6.666670,106.583330,"{'type': 'Point', 'coordinates': [106.58333, -...",NaN,NaN,1922
999,Tomakovka,24019,Valid,LL6,600,Fell,1905-01-01T00:00:00.000,47.850000,34.766670,"{'type': 'Point', 'coordinates': [34.76667, 47...",NaN,NaN,1905

In [131]:
#Q.3
df['mass'] = df['mass'].astype(float)

df[df['mass']>10000]

C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\2109770787.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mass'] = df['mass'].astype(float)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4,year_extracted
2,Abee,6,Valid,EH4,107000.0,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,"{'type': 'Point', 'coordinates': [-113, 54.216...",NaN,NaN,1952
7,Agen,392,Valid,H5,30000.0,Fell,1814-01-01T00:00:00.000,44.216670,0.616670,"{'type': 'Point', 'coordinates': [0.61667, 44....",NaN,NaN,1814
11,Aïr,424,Valid,L6,24000.0,Fell,1925-01-01T00:00:00.000,19.083330,8.383330,"{'type': 'Point', 'coordinates': [8.38333, 19....",NaN,NaN,1925
16,Akyumak,433,Valid,"Iron, IVA",50000.0,Fell,1981-01-01T00:00:00.000,39.916670,42.816670,"{'type': 'Point', 'coordinates': [42.81667, 39...",NaN,NaN,1981
27,Alfianello,466,Valid,L6,228000.0,Fell,1883-01-01T00:00:00.000,45.266670,10.150000,"{'type': 'Point', 'coordinates': [10.15, 45.26...",NaN,NaN,1883
...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,Tieschitz,23989,Valid,H/L3.6,28000.0,Fell,1878-01-01T00:00:00.000,49.600000,17.116670,"{'type': 'Point', 'coordinates': [17.11667, 49...",NaN,NaN,1878
992,Tilden,23998,Valid,L6,74800.0,Fell,1927-01-01T00:00:00.000,38.200000,-89.683330,"{'type': 'Point', 'coordinates': [-89.68333, 3...",34,1762,1927
994,Timochin,24004,Valid,H5,65500.0,Fell,1807-01-01T00:00:00.000,54.500000,35.200000,"{'type': 'Point', 'coordinates': [35.2, 54.5]}",NaN,NaN,1807
997,Tjabe,24011,Valid,H6,20000.0,Fell,1869-01-01T00:00:00.000,-7.083330,111.533330,"{'type': 'Point', 'coordinates': [111.53333, -...",NaN,NaN,1869
998,Tjerebon,24012,Valid,L5,16500.0,Fell,1922-01-01T00:00:00.000,-6.666670,106.583330,"{'type': 'Point', 'coordinates': [106.58333, -...",NaN,NaN,1922

Question 8 -
Using the data from Question 5, write code the analyze the data and answer the following questions Note -
1. Draw plots to demonstrate the analysis for the following questions and better visualizations
2. Write code comments wherever required for code understanding

In [132]:
#Error
import requests
import pandas as pd
from pandas.io.json import json_normalize

# Download data from the API
url = "http://api.tvmaze.com/singlesearch/shows?q=westworld&embed=episodes"
response = requests.get(url)
data = response.json()

C:\Users\Admin\AppData\Local\Temp\ipykernel_14728\836443098.py:11: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead.
  df = json_normalize(data)

,id,url,name,type,language,genres,status,runtime,averageRuntime,premiered,...,network.country.timezone,network.officialSite,externals.tvrage,externals.thetvdb,externals.imdb,image.medium,image.original,_links.self.href,_links.previousepisode.href,_embedded.episodes
0,1371,https://www.tvmaze.com/shows/1371/westworld,Westworld,Scripted,English,"[Drama, Science-Fiction, Western]",Ended,60,63,2016-10-02,...,America/New_York,https://www.hbo.com/,37537,296762,tt0475784,https://static.tvmaze.com/uploads/images/mediu...,https://static.tvmaze.com/uploads/images/origi...,https://api.tvmaze.com/shows/1371,https://api.tvmaze.com/episodes/2326661,"[{'id': 869671, 'url': 'https://www.tvmaze.com..."

Question 10 -
Write a program to count the number of verbs, nouns, pronouns, and adjectives in a given particular phrase or
paragraph, and return their respective count as a dictionary.